@page "/"

<PageTitle>Index</PageTitle>

<h1>Movie App</h1>

<div>
    <NavLink class="nav-link" href="login" Match="NavLinkMatch.All">
        <button type="button" class="btn btn-primary">Login</button>
    </NavLink>
</div>
