@page "/"

<PageTitle>Index</PageTitle>

<h1>Inheritance Mapping</h1>

<div>
    <body>
    <p>This Blazor proyect contains the three types of inheritance mapping
        using Entity Framework.</p>

    <p>They are located inside AppDbContext class.</p>

    <p>Comment/Uncomment each approach to see how is mapped inside database.</p>
    </body>
</div>

